@import '../variables';

@include at-least($breakpoint) {

  #info-card {
    aside {
      width: 30%;
    }

    main {
      width: 60%;
    }
  }

}

.bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: .25em;
}
