$font-stack: 'VT323', monospace;

$color-primary: #46FC3E;
$color-background: #000;
$color-accent: #fff;

$breakpoint: 640px;
$breakpoint-minor: 500px;

$padding-min: 1em;

$font-size-h1: 3.998em;
$font-size-h2: 2.827em;
$font-size-p: 1.414em;
