@import '../variables';

footer {
  margin-top: 3em;
  padding: $padding-min;

  @include at-least($breakpoint) {
    width: calc(100% - #{30 * $padding-min});
  }

  li {
    list-style: none;
    display: inline-block;
    font-size: $padding-min;
    margin-right: $padding-min;
  }
}
