@import '../base/variables';

#info-card {
  aside {
    text-align: center;
    font-size: 1.7em;
    margin: $padding-min;
  }

  main {
    margin: 0 3em;
  }

  p {
    margin-bottom: $padding-min;
  }
}

@media screen and (min-width: $breakpoint) {
  #info-card {
    h1 {
      &:first-child {
        margin-bottom: 5%;
      }
    }

    div {
      text-align: center;
    }

    aside, main {
      display: inline-block;
      vertical-align: middle;
    }

    aside {
      font-size: 3em;
      margin: 0 $padding-min/2;
    }

    main {
      text-align: left;
      margin: 0;
    }
  }
}
