@import '../variables';

nav {
  position: fixed;
  left: 0;
  bottom: 0;
  transition: bottom 100ms;
  width: 100%;
  background: $color-background;
  padding: $padding-min;
  z-index: 1000;

  @include at-least($breakpoint) {
    right: 0;
    left: auto;
    transition: initial;
    width: auto;
    padding-left: 0;
  }

  &.hide {
    display: block;
    bottom: -11em;

    @include at-least($breakpoint) {
      bottom: 0;
    }
  }

  li {
    list-style: none;
    font-size: $font-size-h2;

    @include at-least($breakpoint) {
      display: inline-block;
      width: auto;
      margin-left: $padding-min;

      &:first-child {
        margin-left: $padding-min / 2;
      }
    }
  }

  a {
    padding: 0 .1em;

    &:focus {
      background: $color-primary;
      color: $color-background;
    }
  }

  @include at-least($breakpoint) {
    ul {
      text-align: right;
    }
  }
}

#social {
  position: fixed;
  bottom: $padding-min;
  right: $padding-min;
  text-align: right;
  width: auto;
  z-index: 1000;

  @include at-least($breakpoint) {
    top: $padding-min;
    bottom: auto;
  }

  li {
    display: inline-block;
    position: relative;
    left: 0;
    width: auto;
    list-style: none;
    text-align: center;
    font-size: 2em;
    line-height: 0;
    margin-left: $padding-min;
    transition: left 100ms;

    @include at-least($breakpoint) {
      display: block;
      text-align: right;
      padding-left: 0;
      padding-bottom: $padding-min;
    }

    &:not(:last-child).hide {
      display: inline-block;
      left: 11em;

      @include at-least($breakpoint) {
        display: block;
        left: 0;
      }
    }
  }

  a {
    padding: 0 .1em;

    &:focus {
      background: $color-primary;
      color: $color-background;
    }
  }
}

.fa-chevron-circle-up {
  transition: 100ms;

  @include at-least($breakpoint) {
    display: none;
  }
}

.down {
  transform: rotate(180deg);
}

@include at-least($breakpoint) {
  #nav-arrow {
    display: none;
  }
}
