@import '../base/variables';

#projects-card {
  h1 {
    &:first-child {
      margin-bottom: .3em;
    }
  }

  main {
    h2 {
      &:first-child {
        margin-bottom: 1.5em;
      }
    }
  }
}

@media screen and (min-width: $breakpoint) {
  #projects-card {
    height: auto;
  }
}
