@import '../variables';

.project {
  border: 2px $color-primary solid;
  margin: 2em 3em;
  padding: $padding-min;

  @include at-least($breakpoint) {
    width: 31em;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin: $padding-min;
  }

  &:hover {
    canvas {
      opacity: 0;
    }
  }

  div {
    margin-top: $padding-min;
  }

  .more {
    font-size: $font-size-p;
    float: right;

    &:hover {
      color: $color-accent;
    }
  }

  p {
    margin-bottom: $padding-min;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .details {
    margin-bottom: 0;
  }
}

.project-image-box {
  text-align: center;
  margin: $padding-min;

  .project-image {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
    position: relative;

    canvas {
      -webkit-filter: url(#monochrome-green);
      filter:  url(#monochrome-green);
      transition: 1000ms;
      position: absolute;
    }

    img {
      max-height: 15em;
    }
  }
}
