.template, .hide {
  display: none;
}

nav {
  position: fixed;
  left: 1em;
  bottom: 2em;
}

#social {
  position: fixed;
  bottom: 1em;
  right: 1em;
  text-align: right;
}

@media screen and (min-width: 500px) {
  nav {
    right: 1em;
    bottom: 1em;
    left: auto;
  }

  nav.hide {
    display: block;
  }

  #social {
    top: 1em;
    bottom: auto;
  }

  .fa-chevron-circle-up {
    display: none;
  }
}
