nav li {
  list-style: none;
}

#social li {
  display: inline-block;
  width: auto;
  list-style: none;
  text-align: center;
}

@media screen and (min-width: 500px) {
  nav ul {
    text-align: right;
  }

  nav li {
    display: inline-block;
    width: auto;
  }

  #social li {
    display: block;
    text-align: right;
  }
}
