#name-card {
  background: #000;
  color: #46FC3E;
}

#name-card .fa-stop {
  display: inline;
}

#info-card {
  background: #58B792;
}

#projects-card {
  background: #F5A339;
}

nav li {
  list-style: none;
  font-size: 2em;
}

#social li {
  display: inline-block;
  width: auto;
  list-style: none;
  text-align: center;
  font-size: 2em;
  line-height: 0;
  padding-left: 1em;
}

@media screen and (min-width: 500px) {
  nav ul {
    text-align: right;
  }

  nav li {
    display: inline-block;
    width: auto;
  }

  #social li {
    display: block;
    text-align: right;
    padding-left: 0;
    padding-bottom: 1em;
  }
}
